{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
    {% block head %}

    {% endblock %}

  <style>
  body {
    background-color: #e2e2e2;
  }
  .ui.menu {
    margin: 3em 0em;
      height: 3.5em;
  }
  .ui.menu:last-child {
    margin-bottom: 110px;
  }
  {% block css %}

  
  {% endblock %}
  </style>

  <!--- Example Javascript -->
  <script>
  $(document)
    .ready(function() {
      $('.ui.menu .ui.dropdown').dropdown({
        on: 'hover'
      });
      $('.ui.menu a.item')
        .on('click', function() {
          $(this)
            .addClass('active')
            .siblings()
            .removeClass('active')
          ;
        })
      ;
    })
  ;
  $('.change-avatar')
      .on('click', function () {
          console.log('123123123')
          $(this)
            {#.modal('active')#}
          $('.ui.modal')

          .addClass('active')
        ;
      })

;
  </script>

</head>
<body>

{#标题栏#}
{% include 'navbar.html' %}
<div style="margin-left: 5%;margin-right: 5%">


{#主体内容#}
{% block body  %}

{% endblock %}


{#侧边栏#}
{% block side %}

{% endblock %}



</div>
</body>
</html>