{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
    {% block head %}

    {% endblock %}

    <style>
        body {
            background-color: #e2e2e2;
        }

    </style>
    {% block css %}


    {% endblock %}

    <script>
        $(document)
            .ready(function () {
                $('.ui.menu .ui.dropdown').dropdown({
                    on: 'hover'
                });
                $('.ui.menu a.item')
                    .on('click', function () {
                        $(this)
                            .addClass('active')
                            .siblings()
                            .removeClass('active')
                        ;
                    })
                ;
            })
        ;
        $('.change-avatar')
            .on('click', function () {
                console.log('123123123')
                $(this)
                {#.modal('active')#}
                $('.ui.modal')

                    .addClass('active')
                ;
            })


        ;
    </script>

</head>
<body>

<div style="margin-left: 5%;margin-right: 5%">
    {#标题栏#}
    {% block nav %}
        {% include 'navbar.html' %}
    {% endblock %}

    <div class="ui relaxed grid " style="margin-left: 0em;">
        <div class="eleven wide column" style="padding: 0%;">
            {#主体内容#}
            {% block body %}

            {% endblock %}
        </div>
        <div class="five wide column" style="padding: 0%;">
            {#侧边栏#}
            {% block side %}
                {% include 'side.html' %}
            {% endblock %}
        </div>
    </div>
</div>

</body>
</html>