{% load static from staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    {#    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
    {% block head %}

    {% endblock %}

    <style>
        body {
            background-color: #e2e2e2;
        }

        .sep3 {
            height: 3px;
        }

        .sep5 {
            height: 5px;
        }

        .form {
            padding: 0px;
        }

        a:link, a:active {
            color: #666666;
            text-decoration: none;

        }

        a:visited, a:hover {
            color: #666666;
            text-decoration: underline;
        }
    </style>
    {% block css %}


    {% endblock %}


</head>
<body>
{#标题栏#}
{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}
<div style="margin-left: 8%;margin-right: 8%">

    <div class="ui relaxed grid " style="margin-left: 0em;">
        <div class="eleven wide column" style="padding: 0%;">
            {#主体内容#}
            {% block body %}

            {% endblock %}
        </div>
        <div class="five wide column" style="padding: 0px;">
            {#侧边栏#}
            {% block side %}
                {% include 'side.html' %}
            {% endblock %}
        </div>
    </div>
</div>
{% block footer %}
    {% include 'footer.html' %}
{% endblock %}

  <script>
  $(document)
    .ready(function() {
      $('.ui.menu a.item')
        .on('click', function() {
          $(this)
            .addClass('active')
            .siblings()
            .removeClass('active')
          ;
        })
      ;
    })
  ;
  </script>
</body>
</html>