{% extends 'base.html' %}

{% block head %}


{% endblock %}

{% block css %}


{% endblock %}


{# 主体 #}
{% block body %}
<div class="ui relaxed grid " style="margin-left: 0em;">

    <div class="eleven wide column" style="padding: 0%;">
      <div class="ui card" style="width: 95%">
        <div class="content" style="padding-left: 0%">
        <img class="left floated mini ui image" src="{{ MEDIA_URL }}avatar/1.png">
        <div class="header">Cute</div>
        <div class="meta">2 days ago</div>
      </div>
      </div>
    </div>





 {% include 'side.html'%}




</div>


{% endblock %}

