{% extends 'base.html' %}
{% load humanize %}

{% block head %}


{% endblock %}

{#样式#}
{% block css %}
    <style>
        .meta {
            padding-top: 5px;
            font-size: 5px;
        }

        .topic_name a {
            font-size: 16px;
            color: #778087;
        }
    </style>
{% endblock %}


{# 主体 #}
{% block body %}

    <div class="ui card" style="width: 95%;margin: 0px">

        <div class="ui   segment" style="border: unset;margin: unset;padding: 5px">
            <div class="ui   secondary menu ">
                <a class="item" href="/">全部</a>
                <a class="item">最热</a>
                <a class="item" href="/">Python</a>
                <a class="item" href="/">问与答</a>
                <a class="item" href="/">创意</a>
                <a class="item" href="/">好玩</a>
                <a class="item" href="/">交易</a>
                <a class="item" href="/">关注</a>
            </div>
        </div>
        {% for topic in topic_list %}


            <div class="content" style="padding-left: 0%;position: relative; /">
                <img class="left floated  ui image" style="height: 48px;margin-bottom: 0px"
                     src="{{ MEDIA_URL }}{{ topic.starter.avatar }}">
                <div class="right floated" style="transform: translateY(40%);">
                    <a class="ui grey circular label ">{{ topic.comment_num }}</a>
                </div>
                <div class="topic_name"><a href="{% url 'forum:topic' topic.path %}">{{ topic.title }}</a></div>
                <div class="sep5"></div>
                <div class="meta">
                    <a class="" style="background-color: #f5f5f5;padding: 3px" href="">{{ topic.board }}</a> &nbsp;•&nbsp;
                    <strong><a href="{% url "users:member_info" topic.starter.username %}"
                               style="font-weight: bold">{{ topic.starter }}</a></strong> &nbsp;•&nbsp;
                    {{ topic.last_updated|naturaltime }}
                </div>
            </div>



        {% endfor %}

    </div>
    <script>
        $(document)
            .ready(function () {
                $('.ui.menu a.item')
                    .on('click', function () {
                        $(this)
                            .addClass('active')
                            {#.addClass('red')#}
                            .siblings()
                            .removeClass('active')
                        ;
                    })
                ;
            })
        ;
    </script>
{% endblock %}

