<div class="ui cards">
  <div class="card" style="width: 100%">
    <div class="content">
      <img class="right floated mini ui image" src="{{ MEDIA_URL }}{{ user.avatar }}">
      <div class="header">
        {{ user.name }}
      </div>
      <div class="meta">
        Friends of Veronika
      </div>
      <div class="description">
        Elliot requested permission to view your contact details
      </div>


    </div>
    <div class="extra content">
      <div class="ui two buttons">
        <a class="ui basic green button" href="{% url 'forum:new' %}">创作新主题</a>
        <div class="ui basic red button">Decline</div>
      </div>
    </div>
  </div>
</div>

