{# 侧边栏 #}


<div class="five wide column" style="padding-top: 0%">
  <div class="ui card" style=";width: 100%">
{#    <div class="content">#}
{#    <img class="left floated mini ui image" src="{{ MEDIA_URL }}{{ request.session.avatar }}">#}
{#    <div class="header">{{ request.session.username }}</div>#}

  <div class="content">
{#      <img class="left floated mini ui image" src="{{ MEDIA_URL }}{{ request.session.avatar }}">#}
    <div class="header">{{ request.session.username }}</div>
  </div>
  <div class="content">
    <h4 class="ui sub header">Activity</h4>
    <div class="ui small feed">
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Elliot Fu</a> added <a>Jenny Hess</a> to the project
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Stevie Feliciano</a> was added as an <a>Administrator</a>
          </div>
        </div>
      </div>
      <div class="event">
        <div class="content">
          <div class="summary">
             <a>Helen Troy</a> added two pictures
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="extra content">
    <a class="ui button" href="{% url 'forum:new' %}">创作新主题</a>
  </div>


  </div>
  </div>
</div>


