{% extends 'base.html' %}

{% load humanize %}


{# 头部 #}
{% block head %}
    <title>{{ t.title }}</title>
    <link rel="stylesheet" href="https://simplemde.com/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style>
        .CodeMirror {
            height: 300px; /*SimpleMDE的高度*/
        }

        .sep20 {
            height: 20px;
        }
    </style>
    <script>

    </script>
{% endblock %}


{# 主体 #}
{% block body %}
    <div class="ui card" style="width: 95%;margin: 0px">
        <div class="content" style="background-color: #fAfAfA;padding: 10px">
            <div class="ui large breadcrumb">
                <a class="section" href="/">首页</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">{{ t.board }}</div>
            </div>
        </div>
        <div class="content">
            <div class="right floated author">
                <img class="ui avatar image" src="{{ MEDIA_URL }}{{ t.starter.avatar }}">
            </div>
            <div class="header">{{ t.title }}</div>
            <div class="sep5"></div>
            <div class="sep5"></div>
            <div class="meta">
                <a href="{% url 'users:member_info' t.starter %}">{{ t.starter }}</a> &nbsp;•&nbsp;
                {{ t.last_updated }}
            </div>
        </div>

        <div class="content">
            {#            <h4 class="ui sub header">Activity</h4>#}
            <div class="ui small feed">
                {{ t.get_reply_as_markdown|safe }}
            </div>
        </div>
        <div class="extra content">
            <div class="extra content">
                <span class="left floated like">
                  <i class="like icon"></i>
                  感谢
                </span>
                {% if collect %}
                    <a onclick="uncollect('{{ t.id }}')">
                    <span class="right floated star">
                      <i class="star yellow icon"></i>
                      取消收藏
                    </span>
                    </a>
                {% else %}
                    <a onclick="collect('{{ t.id }}')">
                    <span class="right floated star">
                      <i class="star  icon"></i>
                      收藏
                    </span>
                    </a>
                {% endif %}


            </div>
        </div>
    </div>
    <div class="sep20"></div>
    <div class="ui card" style="width: 95%;margin: 0px">

        <div class="ui comments" style="width: 100%;margin: 0px;max-width: initial;padding: 10px">
            {% if t.comment_num %}
                <span class="ui dividing " style="color: grey;font-size: 14px">
                <span>{{ t.comment_num }} 回复</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                <span>直到 2019-05-08 22:16:54</span>
            </span>
                <hr>
            {% else %}
                <div class="ui middle feed">
                    <div class="event">
                        <div class="content">
                            <div class="summary" style="text-align: center;color: dimgrey">
                                目前尚无回复
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}

            {#  评论  #}
            {% for c in comments %}

                <div class="comment" style="border-bottom:1px solid dimgrey;">
                    <a class="avatar">
                        <img src="{{ MEDIA_URL }}{{ c.author.avatar }}">
                    </a>
                    <div class="content">
                        <a class="author">{{ c.author.name }}</a>
                        <div class="metadata">
                            <div class="date">{{ c.create_time|naturaltime }}</div>
                            <div class="rating">
                                <i class="star icon"></i>
                                {% if c.stars != 0 %}
                                    {{ c.stars }}
                                {% endif %}
                            </div>
                            <div class="actions">
                                <a class="stars" onclick="stars('{{ c.id }}')">感谢</a>
                                <a class="reply" href="#replay_form"
                                   onclick="reply('{{ c.author.name }}', '{% url 'users:member_info' c.author.username %}', '{{ c.author.id }}')">回复</a>
                            </div>
                        </div>
                        <div class="sep5"></div>
                        <div class="text">
                            {{ c.get_reply_as_markdown|safe }}
                        </div>
                    </div>
                </div>
                {#                <hr>#}
            {% endfor %}
        </div>
    </div>
    <div class="sep20"></div>
    {% if t.ban_comments %}
        <div class="ui card" style="width: 95%;margin: 0px">
            <div class="ui comments" style="width: 100%;margin: 0px;max-width: initial;padding: 10px">
                <h3 class="ui dividing header">添加一条新回复</h3>
                <form class="ui reply form" method="post">
                    {% csrf_token %}
                    <div class="field" id="replay_form">
                        <textarea id="comment" name="content"></textarea>
                        <input type="hidden" name="replay_user_data" id="replay_user_data">
                        <input type="hidden" name="replay_user_id" id="replay_user_id">
                    </div>
                    <div class="ui primary submit labeled icon button">
                        <i class="icon edit"></i> 回复
                    </div>
                </form>
            </div>
        </div>
        <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
        <script>
            $.ajaxSetup({
                data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
            });
            //初始化SimpleMDE
            var simplemde = new SimpleMDE({
                autosave: {
                    enabled: false,
                    uniqueId: "MyUniqueID",
                    delay: 1000
                },
                status: ["autosave", "lines", "words"],
                spellChecker: false,
                element: document.getElementById("comment"),
                promptURLs: true,
                placeholder: '请使用 Markdown 格式书写 ;-)',
                toolbar: [
                    "bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list",
                    "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "preview", "side-by-side", "fullscreen", "guide",
                    {
                        name: "uploadImage",//自定义按钮
                        action: function customFunction(editor) {
                            console.log(editor);
                        },
                        className: "fa fa-star",
                        title: "Upload Image"
                    }
                ]
            });
            //store
            $(".submit").on('click', function () {
                var uploadFormData = {
                    content: simplemde.value(),
                    topic: {{ t.id }},
                    replay_user_data: $("#replay_user_data").val(),
                    replay_user_id: $("#replay_user_id").val(),
                }
                $.ajax({
                    method: "POST",
                    url: '{% url 'forum:comments' %}',
                    data: uploadFormData,
                    success: function (data) {
                        if (data.success == true) {
                            window.location.reload();
                        } else {
                            alert(data.msg);
                        }
                    }
                });
            });
        </script>

        <script type="text/javascript">

            function reply(n, u, i) {
                simplemde.value('@' + n + '  ');
                var replay_data = '@' + '[' + n + ']' + '(' + u + ')' + '  '
                $("#replay_user_data").attr("value", replay_data);
                $("#replay_user_id").attr("value", i);
            }
        </script>

    {% else %}
        <div class="ui middle feed">
            <div class="event">
                <div class="content">
                    <div class="summary" style="text-align: center;color: dimgrey">
                        该主题无法回复
                    </div>
                </div>
            </div>
        </div>
    {% endif %}
    <script>
        function stars(nn) {
            event.preventDefault();
            //使a自带的方法失效
            $.ajax({
                url: '{% url 'forum:cstars' %}',
                method: "post",
                dataType: "json",
                data: {'cid': nn},
                success: function (data) {
                    if (data["success"] == true) {
                        alert(data["msg"])
                        window.location.reload();
                    } else {
                        alert('回复失败');
                    }
                }
            });
        }

        function collect(cc) {
            event.preventDefault();
            //使a自带的方法失效
            $.ajax({
                url: '{% url 'forum:topic_collect' %}',
                method: "post",
                dataType: "json",
                data: {'collect': cc},
                success: function (data) {
                    if (data["success"] == true) {
                        alert(data["msg"])
                        window.location.reload();
                    } else {
                        alert(data["msg"]);
                    }
                }
            });
        }

        {#取消收藏#}

        function uncollect(cc) {
            event.preventDefault();
            //使a自带的方法失效
            $.ajax({
                url: '{% url 'forum:topic_uncollect' %}',
                method: "post",
                dataType: "json",
                data: {'collect': cc},
                success: function (data) {
                    if (data["success"] == true) {
                        alert(data["msg"])
                        window.location.reload();
                    } else {
                        alert(data["msg"]);
                    }
                }
            });
        }
    </script>
{% endblock %}