{% extends 'base.html' %}

{% load humanize %}


{# 头部 #}
{% block head %}
    <title>{{ t.title }}</title>
    <link rel="stylesheet" href="https://simplemde.com/stylesheets/stylesheet.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <style>
        .CodeMirror {
            height: 300px; /*SimpleMDE的高度*/
        }

        .sep20 {
            height: 20px;
        }
    </style>
{% endblock %}


{# 主体 #}
{% block body %}
    <div class="ui card" style="width: 95%;margin: 0px">
        <div class="content" style="background-color: #fAfAfA;padding: 10px">
            <div class="ui large breadcrumb">
                <a class="section" href="/">首页</a>
                <i class="right chevron icon divider"></i>
                <div class="active section">{{ t.board }}</div>
            </div>
        </div>
        <div class="content">
            <div class="right floated author">
                <img class="ui avatar image" src="{{ MEDIA_URL }}{{ t.starter.avatar }}">
            </div>
            <div class="header">{{ t.title }}</div>
            <small>
                <a href="{% url 'users:member_info' t.starter %}">{{ t.starter }}</a> &nbsp;•&nbsp;
                {{ t.last_updated|naturaltime }}
            </small>
        </div>

        <div class="content">
            <h4 class="ui sub header">Activity</h4>
            <div class="ui small feed">
                {{ t.get_reply_as_markdown|safe }}
            </div>
        </div>
        <div class="extra content">
            <div class="extra content">
            <span class="left floated like">
              <i class="like icon"></i>
              Like
            </span>
                <span class="right floated star">
              <i class="star icon"></i>
              Favorite
            </span>
            </div>
        </div>
    </div>
    <div class="sep20"></div>
    <div class="ui card" style="width: 95%;margin: 0px">

        <div class="ui comments" style="width: 100%;margin: 0px;max-width: initial;padding: 10px">
            <span class="ui dividing " style="color: grey;font-size: 14px">
                <span>{{ t.comment_num }} 回复</span>&nbsp;&nbsp;|&nbsp;&nbsp;
                <span>直到 2019-05-08 22:16:54</span>
            </span>
            <hr>
            {#  评论  #}
            {% for c in comments %}
                <div class="comment">
                    <a class="avatar">
                        <img src="{{ MEDIA_URL }}{{ c.author.avatar }}">
                    </a>
                    <div class="content">
                        <a class="author">{{ c.author.name }}</a>
                        <div class="metadata">
                            <div class="date">{{ c.create_time|naturaltime }}</div>
                            <div class="rating">
                                <i class="star icon"></i>
                                5 Faves
                            </div>
                        </div>
                        <div class="text">
                            {{ c.get_reply_as_markdown|safe }}
                        </div>
                        <div class="actions">
                            <a class="reply">Reply</a>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="sep20"></div>
    <div class="ui card" style="width: 95%;margin: 0px">
        <div class="ui comments" style="width: 100%;margin: 0px;max-width: initial;padding: 10px">
            <h3 class="ui dividing header">添加一条新回复</h3>
            <form class="ui reply form" method="post">
                {% csrf_token %}
                <div class="field">
                    <textarea id="comment" name="content"></textarea>
                </div>
                <div class="ui primary submit labeled icon button">
                    <i class="icon edit"></i> Add Comment
                </div>
            </form>
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script>
        $.ajaxSetup({
            data: {csrfmiddlewaretoken: '{{ csrf_token }}'},
        });
        //初始化SimpleMDE
        var simplemde = new SimpleMDE({
            autosave: {
                enabled: false,
                uniqueId: "MyUniqueID",
                delay: 1000
            },
            status: ["autosave", "lines", "words"],
            spellChecker: false,
            element: document.getElementById("comment"),
            promptURLs: true,
            toolbar: [
                "bold", "italic", "strikethrough", "heading", "code", "quote", "unordered-list",
                "ordered-list", "clean-block", "link", "image", "table", "horizontal-rule", "preview", "side-by-side", "fullscreen", "guide",
                {
                    name: "uploadImage",//自定义按钮
                    action: function customFunction(editor) {
                        console.log(editor);
                    },
                    className: "fa fa-star",
                    title: "Upload Image"
                }
            ]
        });
        //store
        $(".submit").on('click', function () {
            var uploadFormData = {
                content: simplemde.value(),
                topic: {{ t.id }}
            }
            $.ajax({
                method: "POST",
                url: '{% url 'forum:comments' %}',
                data: uploadFormData,
                success: function (data) {
                    if (data.success == true) {
                        window.location.reload();
                    } else {
                        alert(data.msg);
                    }
                }
            });
        });
    </script>
{% endblock %}