{% load static from staticfiles %}
{% load shortnaturaltime %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/semantic.min.css' %}">
    {#    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>#}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/semantic.min.js' %}"></script>
    {% block head %}

    {% endblock %}

    <style>
        body {
            background-color: #e2e2e2;
        }

        .sep3 {
            height: 3px;
        }

        .sep5 {
            height: 5px;
        }

        .form {
            padding: 0px;
        }

        a:link, a:active {
            color: #666666;
            text-decoration: none;

        }

        a:visited, a:hover {
            color: #666666;
            text-decoration: underline;
        }
    </style>
    {% block css %}


    {% endblock %}


</head>
<body>
{#标题栏#}
{% block nav %}
    {% include 'navbar.html' %}
{% endblock %}
<div style="margin-left: 8%;margin-right: 8%">

    <div class="ui relaxed grid " style="margin-left: 0em;">
        <div class="sixteen wide column" style="padding: 0%;">
            {#主体内容#}
            <div class="ui relaxed grid ">
                <div class="five wide column">
                    <img class="fluid  ui image" src="{{ MEDIA_URL }}{{ user_info.avatar }}">
                    <div class="ui fluid large vertical menu">
                        <a class="item cebian1" href="{% url 'users:member_info' user_info.username %}">
                            <div class="column"><i class="clone outline icon"></i>帖子</div>
                        </a>
                        <a class="item cebian2" href="{% url 'users:member_comments' user_info.username %}">
                            <div class="column"><i class="comment outline icon"></i>回复</div>
                        </a>
                        <a class="item cebian3" href="{% url 'users:member_collected' user_info.username %}">
                            <div class="column"><i class="star outline icon"></i>收藏</div>
                        </a>
                        <a class="item cebian4" href="{% url 'users:member_details' user_info.username %}">
                            <div class="column"><i class="user outline icon"></i>信息</div>
                        </a>
                    </div>
                </div>
                <div class="eleven wide column">
                    <div class="ui card fluid">
                        <div class="content">
                            <a class="header">{{ user_info.name }}</a>
                            <div class="sep5"></div>
                            <div class="meta">
                                {% if user_info.last_activity|isonline %}
                                <a class="ui green circular label">Online</a>
                                    {% else %}
                                    <a class="ui grey circular label">Offline</a>
                                {% endif %}
                                <span class="date">Joined {{ user_info.date_joined }}</span>
                                <span class="date">上次活动: {{ user_info.last_activity|shortnaturaltime }}</span>
                                <span class="email">{% if user_info.id == user.id %}{{ user_info.email }}{% endif %}</span>
                            </div>
                        </div>
                    </div>
                    {% block body %}

                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
</div>

{% block footer %}
    {% include 'footer.html' %}
{% endblock %}
</body>
</html>

