{% extends 'users/base.html' %}

{% block head %}
    <style>
        input, img {
            vertical-align: middle;
        }

    </style>
{% endblock %}


{% block body %}

    <div class="ui card fluid">
        <form class="ui form" method="post" action="{% url 'users:member_details' user_info.username %}">
        {% csrf_token %}
            <table class="ui very basic small table" style="padding-right: 5%">
                <tbody>
                <tr>
                    <td class="right aligned three wide">个人网站</td>
                    <td><input type="text" name="website"
                               {% if user.website %}
                               placeholder="{{ user.website }}"
                               {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">所在公司</td>
                    <td><input type="text" name="company"
                               {% if user.company %}
                               placeholder="{{ user.company }}"
                               {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">所在地</td>
                    <td><input type="text" name="location"
                               {% if user.location %}
                               placeholder="{{ user.location }}"
                               {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">微博</td>
                    <td><input type="text" name="weibo"
                               {% if user.weibo %}
                               placeholder="{{ user.weibo }}"
                               {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">Twitter</td>
                    <td><input type="text" name="twitter"
                               {% if user.twitter %}
                               placeholder="{{ user.twitter }}"
                               {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">Github</td>
                    <td><input type="text" name="github"
                               {% if user.github %}
                               placeholder="{{ user.github }}"
                               {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">Instagram</td>
                    <td><input type="text" name="instagram"
                               {% if user.instagram %}
                               placeholder="{{ user.instagram }}"
                               {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">Telegram</td>
                    <td>
                        <input type="text" name="telegram"
                               {% if  user.telegram %}
                               placeholder="{{ user.telegram }}"
                               {% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">LinkedIn</td>
                    <td>
                        <input type="text" name="linkedin"
                               {% if user.linkedin %}placeholder="{{ user.linkedin }}"{% endif %}>
                    </td>
                </tr>
                <tr>
                    <td class="right aligned">个然简介</td>
                    <td><textarea type="text" name="biography"
                            {% if user.biography %}placeholder="{{ user.biography }}"{% endif %}></textarea>
                    </td>
                </tr>
                </tbody>
            </table>
            <button class="ui red button" type="submit">保存设置</button>
        </form>
    </div>
{% endblock %}



